<% if @upload.new_record? %>
//$('input#upload_name').effect('highlight', { color: 'red' });
<% end %>


$("#battest").removeClass("input_upload loading_but").addClass("input_upload input_upload_bg");


<%= remotipart_response do %>
<% unless @upload.errors.any? %>
$('#uploads').append('<%= escape_javascript(render @upload ) %>');
$('#new-upload-form-container').find('input:not(:submit),select,textarea').val('');
<% if request.put? %>
$('#uploads').after('PUT request!');
<% end %>
<% else %>
var $form = $('#new_upload'),
        $errorDiv = $('<div id="error_explanation">'),
        $errorList = $('<ul>');
<% @upload.errors.full_messages.each do |msg| %>
$errorList.append('<li><%= escape_javascript msg %></li>');
<% end %>
$form.find('#error_explanation').remove();
$form.prepend($errorDiv.append($errorList));
<% end %>
<% end %>


$('form#new_upload').hide().delay(2000).fadeIn(1000);
$(".ok_panel").fadeIn().delay(1900).fadeOut();
$(".ok1").fadeIn(300).delay(1600).fadeOut();
$(".ok2").delay(300).fadeIn(300).delay(1300).fadeOut();
$(".ok3").delay(600).fadeIn(300).delay(1000).fadeOut();
$('form#new_upload')[0].reset();