<table>
  <tr>
    <th>Subject</th>
    <th>Body</th>
    <th>Attachment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @upload %>
</table>

<br />

<%= link_to 'Back', uploads_path %>
