<div id="part6">
  <div id="contact"></div>
  <% if !signed_in?  %>
  <div id="footer">
    <div class="social_col">
      <ul>
        <li><a href="#"><img src="images/social/twitter-norm.png" width="115" onmouseover="this .src='images/social/twitter-sel.png'; this .width=115; this .height=115" onmouseout="this .src='images/social/twitter-norm.png'; this .width=115; this .height=115"></a> </li>
        <li><a href="#"><img src="images/social/facebook-norm.png" width="115" onmouseover="this .src='images/social/facebook-sel.png'; this .width=115; this .height=115" onmouseout="this .src='images/social/facebook-norm.png'; this .width=115; this .height=115"></a> </li>
        <li><a href="#"><img src="images/social/linkedin-norm.png" width="115" onmouseover="this .src='images/social/linkedin-sel.png'; this .width=115; this .height=115" onmouseout="this .src='images/social/linkedin-norm.png'; this .width=115; this .height=115"></a> </li>
        <li><a href="#"><img src="images/social/ball-norm.png" width="115" onmouseover="this .src='images/social/ball-sel.png'; this .width=115; this .height=115" onmouseout="this .src='images/social/ball-norm.png'; this .width=115; this .height=115"></a> </li>
        <li><a href="#"><img src="images/social/beh-norm.png" width="115" onmouseover="this .src='images/social/beh-sel.png'; this .width=115; this .height=115" onmouseout="this .src='images/social/beh-norm.png'; this .width=115; this .height=115"></a> </li>
      </ul>
    </div>
  </div>
  <% end %>
<div class="numb_cont">
  <div class="first_row"><%= image_tag "point.png", {width: 20, style: "margin-left: 220px"} %><span style="margin-left: 250px; color: #164d47; font-family: Arial, sans-serif">Muhu Str. 1-99, Tallinn, Estonia, 13912</span><%= image_tag "phone.png", {width: 16, style: "margin-left: 20px"} %><span style="margin-left: 50px; color: #164d47; font-family: Arial, sans-serif">+37258052608, +37258741191, +79650691769</span></div>
  <div class="second_row"><span style="color: #164d47; font-family: Arial, sans-serif">&#169 2014 TWOK OU . Made with</span><%= image_tag "heart.png", {width: 20, style: "margin-left: 5px"} %><span style="margin-left: 30px; color: #164d47; font-family: Arial, sans-serif">in Kyiv, Ukraine</span></div>
</div>
</div>