<!----------------------------part1/6----------------------------------------------------------------->

<div id="part1">
  <div id="sec_nav">
    <div id="part_area">
      <div id="main_nav_sec">
        <ul>
          <li>
            <div class="top_button_sec">
              <a href="#p7"><img src="images/top-button_act.png"></a>
            </div>
          </li>
          <li>
            <div id="menu_nav_sec">
              <ul>
                <li><a href="#p2">ABOUT</a></li>
                <li><a href="#p3">SERVICES</a></li>
                <li><a href="#p4">WORK</a></li>
                <li><a href="#p6">CONTACT</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="nav_button_sec"><img src="images/menu-button.png"></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav_shadow"></div>
  </div>

  <div id="part_area">
    <a id="p7"></a>

    <!-----language------------>

    <div id="language">
      <div class="lang_table">
        <ul class="lang_tab">
          <li class="rus_list"><%= link_to_unless_current "ENG", locale: "en"  %>
            <div class="rus_cont"></div>
          </a> </li>
          <li class="eng_list"><%= link_to_unless_current "RUS", locale: "ru"  %>
            <div class="eng_cont"></div>
          </li>
          <li class="est_list"><%= link_to_unless_current "EST", locale: "es" %>
            <div class="est_cont"></div>
          </a> </li>
        </ul>
      </div>
    </div>

    <!---------->

    <div id="logo_gab">
      <div class="logo">
        <div class="logo-bg"><img src="images/title-bg.png"></div>
        <img src="images/title.png">
      </div>
    </div>

    <!---------->
    <div class="scroll_down_anim"><img src="images/scroll-down.gif"></div>
    <!----------->

  </div>
</div>